/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.example {
	@apply rounded-lg bg-light p-2 sm:px-3 sm:py-6 relative mt-4;
}

.example-info {
	@apply text-sm text-primary/50 px-2 sm:px-3 mt-2 mb-4;
}